html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgrey;
}

:root {
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;

  /* Do something like this for typography, colours, etc… */
  /* --font-main: Comic Sans MS, cursive, sans-serif;
  --font-accent: baskervville, serif;

  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 24px;

  --color--primary: #ff6f61;
  --color-secondary: #6b5b95; */
}

.page-layout {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  grid-template-rows: auto 1fr auto;
  gap: var(--spacing-l);
  width: 100%;
  height: 100%;
  padding: var(--spacing-m);
  /* border: 2px solid green; */
  aspect-ratio: 1 / 2;
  margin: 10px;
}

.header {
  /* border: 2px solid green; */
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-m);
  padding-bottom: var(--spacing-m);
}

.avatar {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  object-fit: cover;
}

.name-label {
  font-size: 24px;
  font-weight: bold;
  font-family: baskervville, serif;
}

.header-text {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.header-text p {
  margin: 0;
}

.divider {
  background-color: rgb(55, 55, 55);
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.left,
.right {
  grid-row: 2 / span 1;
}
.left {
  grid-column: 1 / span 1;
  /* border: 2px solid green; */
  text-align: end;
}
.right {
  grid-column: 3 / span 1;
  /* border: 2px solid green; */
  text-align: start;
}

.footer {
  /* border: 2px solid green; */
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-m);
}
.footer .titles {
  margin: 0;
}

.titles {
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: var(--spacing-s);
}

.link:hover {
  text-decoration: underline;
}

.link-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link-list li {
  margin-bottom: var(--spacing-m);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.experience-list {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

strong {
  font-weight: bold;
}

#root {
  width: 100%;
  height: 100%;
}
